@mixin button-transition {
  transition:
    background-color $bezier-fast,
    box-shadow $bezier-fast;
}

@mixin button {
  min-width: 10rem;
  font-size: $font-size-base;
  min-height: 3rem;
  max-height: fit-content;
  border: none;
  border-radius: $radius-sm;
  @include button-transition();
}

@mixin button-outline {
  min-width: 10rem;
  font-size: $font-size-base;
  min-height: 3rem;
  max-height: fit-content;
  border-radius: $radius-sm;
  background-color: transparent;
  @include button-transition();
}
