@import '/src/styles/tokens.scss';

@mixin input-button {
  border: none;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  transition: all $bezier-fast;

  &:hover,
  &:focus-visible {
    background-color: $gray-100;

    span {
      color: $text-secondary;
    }
  }

  &:active {
    @include active();
  }
}

@mixin active {
  background-color: $gray-200 !important;

  .input-button-icon {
    fill: $text-primary !important;
  }
}

.input-button-active {
  @include active();
}

.input-button {
  @include input-button();
  width: calc(3rem - 2px);
  height: calc(3rem - 2px);
}

.input-button-small {
  @include input-button();
  min-height: 2.5rem;
  min-width: 2.5rem;
}

.label-input-button {
  min-width: $space-4xl;
}
