@import '/src/styles/tokens.scss';

.input-container {
  select {
    appearance: none;
    cursor: pointer;
  }
}

.option-container {
  background-color: $surface-100;
  top: calc(3.75rem - 2px);
}
