@import '/src/styles/tokens.scss';

@mixin label-focused($color: $color-primary-500, $transform: -135%) {
  font-size: $font-size-sm;
  padding-inline: $space-sm !important;
  transform: translateY($transform);
  left: $space-sm;
  color: $color;
  background-color: $surface-100 !important;
}

@mixin input-focused {
  border-color: $color-primary-500 !important;

  label {
    @include label-focused();
  }
}

.populated {
  @include label-focused($text-secondary);
}

.input-focused {
  @include input-focused();
}

.input-label {
  transition:
    font-size ease-in 70ms,
    transform ease-in 70ms;
  background-color: transparent;
  cursor: text;
  user-select: none;
  color: $text-secondary;
}

.input-container {
  border-radius: $radius-sm;

  &:focus-within {
    @include input-focused();
  }

  &:focus-within .input-label {
    @include label-focused();
  }
}

.input-field {
  border: none;
  outline: none;
  border-radius: $radius-sm;
}

.button-container {
  right: $space-none;
  height: 100%;

  button:last-of-type {
    border-top-right-radius: $radius-sm;
    border-bottom-right-radius: $radius-sm;
  }
}
