@import '/src/styles/tokens.scss';

input {
  min-height: calc(3.5rem - 2px);
}

@mixin label-focused($color: $color-primary-500, $transform: -1.75rem) {
  transform: translateY($transform) scale(87.5%);
  color: $color;
  background-color: $surface-100 !important;
  margin-inline: $space-sm !important;
}

@mixin input-focused {
  border-color: $color-primary-500;
  outline: 1px solid $color-primary-500;

  label {
    @include label-focused();
  }
}

.populated {
  padding-inline: 0 !important;
  @include label-focused($text-secondary);

  label {
    margin-inline: $space-sm !important;
  }
}

.input-focused {
  @include input-focused();
}

.label-container {
  will-change: transform;
  transition: transform $bezier-fast;
  transform-origin: left center;
  background-color: transparent;
  cursor: text;
  user-select: none;
  color: $text-secondary;
  padding-inline: $space-lg;
}

.input-container {
  border-radius: $radius-sm;

  &:hover {
    border: 1px solid $color-primary-500;
  }

  &:focus-within {
    @include input-focused();
  }

  &:focus-within .label-container {
    padding-inline: 0 !important;
    @include label-focused();
  }
}

.input-field {
  border: none;
  outline: none;
  border-radius: $radius-sm;
}

.button-container {
  right: $space-none;
  height: 100%;

  button:last-of-type {
    border-top-right-radius: $radius-sm;
    border-bottom-right-radius: $radius-sm;
  }
}
