@import '../../../styles/tokens.scss';

textarea {
  resize: none;
  font-family: 'Instrument Sans', Arial, sans-serif;
}

.textarea-container {
  min-height: 7rem;
}

.input-container {
  &:focus-within .textarea-label {
    margin-block: $space-lg;
  }
}
