@import './tokens.scss';

/* Centered container */

.container {
  max-width: min(90rem, 90%);
  margin: 0 auto;
  width: 100%;
  display: flex;
}

/* 12-col grid */

.grid {
  width: 100%;
  max-width: min(90rem, 90%); // Adjust based on your design
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr); // 12 equal columns
  gap: $space-xl; // Adjust spacing
}

.row {
  display: contents; // Allows direct child `.col-*` items to behave like grid elements
}

.col-1 {
  grid-column: span 1;
}
.col-2 {
  grid-column: span 2;
}
.col-3 {
  grid-column: span 3;
}
.col-4 {
  grid-column: span 4;
}
.col-5 {
  grid-column: span 5;
}
.col-6 {
  grid-column: span 6;
}
.col-7 {
  grid-column: span 7;
}
.col-8 {
  grid-column: span 8;
}
.col-9 {
  grid-column: span 9;
}
.col-10 {
  grid-column: span 10;
}
.col-11 {
  grid-column: span 11;
}
.col-12 {
  grid-column: span 12;
}

/* Responsive media qeuries */

@media (max-width: $screen-laptop) {
  .container {
    /* padding: 0 $space-lg; */
  }

  .grid {
    grid-template-columns: repeat(6, 1fr); // Switch to 6 columns for tablets
  }
}

@media (max-width: $screen-mobile) {
  .grid {
    grid-template-columns: repeat(2, 1fr); // Switch to 2 columns for mobile
  }
}
