@import '/src/styles/tokens.scss';

$view-container-width: 18rem;
$view-container-height: 21.5rem;

@mixin calendar-cell-size {
  min-height: $space-3xl;
  min-width: $space-3xl;
}

.view-container {
  width: $view-container-width;
  height: $view-container-height;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.calendar-options-menu {
  height: calc($view-container-height - 2 * $space-md);
}

.calendar-headrow {
  div {
    @include calendar-cell-size();
    margin-block: $space-sm;
  }
}

.calendar-cell-background {
  border-radius: $radius-full;
}

.calendar-row {
  display: contents;
}

.calendar-cell {
  @include calendar-cell-size();
  cursor: pointer;
  margin-block: $space-xs;

  &:hover,
  &:focus {
    color: $text-inverted;

    .calendar-cell-background {
      background-color: $color-primary-500;
    }
  }
}

/* Focused and active cell */

.calendar-cell-focus {
  color: $text-inverted !important;
  background-color: $color-primary-500;
  border-radius: $radius-full;
}

.calendar-cell-active {
  .calendar-cell-background {
    background-color: $color-primary-600 !important;
  }
}

/* Style today's date */

.calendar-today {
  color: $color-primary-500;

  .calendar-cell-background {
    border: 1px solid $color-primary-500;
  }
}
