@import '@styles/tokens.scss';

.footer {
  min-height: 18rem;
  background: $neutral-900;

  nav {
    min-width: min(90rem, 85%);
    flex-direction: inherit;
  }
}

.footer-logo {
  height: 2rem;

  path {
    fill: $text-inverted;
  }

  &:hover {
    fill: #fff;
  }
}

.footer-title,
.mobile-footer-title {
  font-family: 'Jaro', Arial, sans-serif;
  color: $color-primary-300;
  font-size: 2rem;
}

.mobile-footer-title {
  display: none;
}

.group-title {
  color: $color-primary-300;
  font-size: 1.25rem;
  font-weight: 500;
}

.footer-fab {
  right: $space-xl;
  top: $space-3xl;
}

@media (max-width: $screen-laptop) {
  .footer {
    flex-direction: column;
    align-items: center;

    nav {
      justify-content: center;
      gap: $space-2xl;
    }

    ul {
      width: 100%;

      li {
        width: 100%;
      }
    }
  }

  .footer-logo {
    height: 1.5rem;
    width: fit-content;
  }
}

@media (max-width: $screen-tablet) {
  .footer-title {
    display: none;
  }
  .mobile-footer-title {
    display: block;
  }
}
