@import '@styles/tokens.scss';

$navbar-height: 4.5rem;

header {
  top: 0;
}

.top-navbar {
  height: $navbar-height;
  background-color: $surface-100;
  overflow: visible;
}

.logo {
  height: 2.5rem;
}

.logo-icon {
  height: 1.5rem;

  &:hover {
    path {
      fill: $neutral-900;
    }
  }

  path {
    fill: $gray-900;
  }
}

li {
  list-style: none;
}

.nav-link {
  text-decoration: none;
  color: $text-secondary;
  position: relative;
  transition: color $bezier-fast;

  &::before {
    content: '';
    position: absolute;
    bottom: -25%;
    left: 50%;
    width: 0;
    height: 2px;
    background: $color-primary-500;
    transition:
      width $bezier-smooth,
      left $bezier-smooth;
    border-radius: $radius-full;
  }

  &:hover {
    color: $text-primary;

    &::before {
      width: 100%;
      left: 0;
    }
  }

  &.active {
    font-weight: 500;
    color: $text-primary;

    &::before {
      left: -0.75rem;
      top: 50%;
      transform: translateY(-50%);
      width: 4px;
      height: 4px;
    }
  }
}

.menu-button,
.mobile-nav-links {
  display: none;
}

.mobile-menu-title {
  display: none;
  font-family: 'Jaro', sans-serif;
  font-optical-sizing: auto;
  font-size: 2.5rem;
  line-height: 1;
  color: $color-primary-500;
}

@media (max-width: $screen-laptop) {
  .nav-links,
  .navbar-cta-button {
    display: none;
  }

  .menu-button,
  .mobile-menu-title {
    display: block;
    border: none;
    background-color: transparent;
  }

  .mobile-nav-links {
    width: 100%;
    height: calc(100dvh - $navbar-height);
    left: 0;
    top: $navbar-height;
    background-color: $surface-100;
    position: fixed;
    display: flex;

    .nav-link::before {
      bottom: 0;
    }

    li {
      min-height: $navbar-height;
      box-shadow: inset 0px 2px 8px rgba(0, 0, 0, 0.1);
    }

    .divider-gray {
      bottom: 0;
      background: $text-muted;
    }
  }
}
