@import '@styles/tokens.scss';

.tour-detail {
  img {
    width: 600px;
    height: 600px;
  }

  @media (max-width: $screen-laptop) {
    flex-direction: column;
    gap: 0;

    img {
      height: auto;
      width: 100%;
      margin-left: -1rem;
    }
  }
}

.tour-detail-text {
  @media (max-width: $screen-laptop) {
    width: 100%;
    padding: 0 0 $space-xl 0;
  }
}

.tour-detail-button-container {
  width: fit-content;

  @media (max-width: $screen-tablet) {
    width: 100%;
  }
}
