@import '@styles/tokens.scss';

.overview-image {
  width: 500px;
  right: 0;
}

.overview-attrib {
  list-style: disc;
  margin-left: 1rem;
}

@media (max-width: $screen-laptop) {
  .overview-image {
    width: 100%;
    position: initial;
  }

  .overview-content {
    width: 100%;
    gap: $space-xl;
  }

  .tour-overview {
    flex-direction: column;
  }

  .overview-button-group {
    margin-bottom: 1rem;
  }
}

@media (max-width: $screen-tablet) {
  .overview-button-group {
    flex-direction: column;
  }
}
