@import '@styles/tokens.scss';

.contact-us-image {
  height: 200px;
  aspect-ratio: 16/9;
}

@media (max-width: $screen-laptop) {
  .faq-footer {
    flex-direction: column;
    gap: $space-4xl;
  }
}
