@import '@styles/tokens.scss';

.info-list {
  ul {
    padding-left: 1rem;
  }

  li {
    list-style: disc;
  }
}

.tours-illustration {
  height: 300px;
  bottom: 0;
  right: 0;
}

.info-list {
  @media (max-width: $screen-large) {
    width: 50%;
  }
  @media (max-width: $screen-laptop) {
    width: 100%;
  }
}

@media (max-width: $screen-laptop) {
  .tours-illustration {
    position: static;
  }
}

@media (max-width: $screen-tablet) {
  .tours-illustration {
    max-width: 100%;
  }
}
