@import '@styles/tokens.scss';

.booking-form {
  background: $surface-100;
  max-width: 45rem;
}

.form-group {
  border: none;
  padding: 0;
  margin-bottom: $space-xl;

  legend {
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: $space-lg;
  }
}

.form-body {
  padding-block: $space-xl;
}

@media (max-width: $screen-tablet) {
  .form-container {
    padding-inline: $space-lg !important;
    padding-block: $space-2xl !important;

    .form-group {
      flex-direction: column;
      gap: 1rem !important;

      .subgroup {
        flex-direction: column;
        gap: 1rem !important;
      }

      .width-half {
        width: 100%;
      }
    }
  }

  .helper-text {
    display: none;
  }

  .flex-gap-sm {
    gap: $space-md !important;
  }
}
