@import '/src/styles/tokens.scss';
@import './button.scss';

.button-secondary-outline-enabled {
  @include button-outline();

  border: $border-thin solid $color-secondary-500;
  color: $color-secondary-500;
  cursor: pointer;

  &:hover {
    color: $text-inverted;
    background-color: $color-secondary-500; // Fill with primary color on hover
    box-shadow: $shadow-hover;
  }

  &:active {
    background-color: $color-secondary-600; // Slightly darker on click
  }
}

.button-secondary-outline-disabled {
  @include button-outline();

  border: $border-thin solid $color-secondary-200;
  color: $color-secondary-400;
  cursor: not-allowed;
}
