@mixin button-transition {
  transition:
    background-color $bezier-fast,
    box-shadow $bezier-fast;
}

@mixin button {
  font-size: $font-size-base;
  min-height: 3.5rem;
  max-height: fit-content;
  border: none;
  border-radius: $radius-sm;
  @include button-transition();
}

@mixin button-outline {
  font-size: $font-size-base;
  min-height: 3.5rem;
  max-height: fit-content;
  border-radius: $radius-sm;
  background-color: $surface-100;
  @include button-transition();
}
