@import '/src/styles/tokens.scss';
@import './button.scss';

.button-secondary-enabled {
  @include button();

  background-color: $color-secondary-500;
  color: $text-inverted;
  cursor: pointer;

  &:hover {
    background-color: $color-secondary-600; // Slightly darker on hover
    box-shadow: $shadow-hover;
  }

  &:active {
    background-color: $color-secondary-700; // Darkest on click
  }
}

.button-secondary-disabled {
  @include button();

  background-color: $color-secondary-100;
  color: $color-secondary-400;
  cursor: not-allowed;
}
