@mixin button {
  font-size: $font-size-base;
  min-height: 56px;
  max-height: fit-content;
  border: none;
  border-radius: $radius-sm;
  transition:
    background-color linear 100ms,
    box-shadow linear 100ms;
}

@mixin button-outline {
  font-size: $font-size-base;
  min-height: 56px;
  max-height: fit-content;
  border-radius: $radius-sm;
  background-color: $surface-100;
  transition:
    background-color linear 100ms,
    box-shadow linear 100ms;
}
