@import '/src/styles/tokens.scss';

@mixin input-button {
  border: none;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  transition: all linear 90ms;

  &:hover,
  &:focus-visible {
    background-color: $gray-100;

    span {
      color: $text-secondary;
    }
  }

  &:active {
    @include active();
  }

  span {
    color: $text-muted;
    transition: all linear 90ms;
  }
}

@mixin active {
  background-color: $gray-200 !important;

  span {
    color: $text-primary !important;
  }
}

.input-button-active {
  @include active();
}

.input-button {
  @include input-button();
  min-height: 56px;
  min-width: 56px;
}

.input-button-small {
  @include input-button();
  min-height: 40px;
  min-width: 40px;
}

.label-input-button {
  min-width: $space-4xl;
}
