@import '@styles/tokens.scss';

.card-carousel {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: $space-lg;
  max-width: 1400px;
  margin: 0 auto;

  &::-webkit-scrollbar {
    display: none;
  }

  @media (max-width: 1440px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: $screen-laptop) {
    display: flex;
    overflow-x: auto;
    gap: 0;
    padding-inline: calc(5% + 1rem);
    scroll-behavior: smooth;
    cursor: grab; // Show grab cursor when interacting
    -webkit-overflow-scrolling: touch; // Improves performance on iOS

    &:active {
      cursor: grabbing;
    }
  }
}
