@import '../../styles/tokens.scss';

.review-card {
  max-width: 320px;
  max-height: 320px;
  min-width: min(90dvw, 320px);
  aspect-ratio: 1/1;
  user-select: none;

  @media (max-width: $screen-laptop) {
    margin-right: 1rem;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.review-image {
  height: 2.5rem;
  aspect-ratio: 1/1;
}

.author {
  height: 100%;
  align-items: flex-end;
}
